apiVersion: apps/v1
kind: Deployment
metadata:
  name: dns-operator
  namespace: openshift-dns-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: dns-operator
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: dns-operator
    spec:
      dnsPolicy: Default
      nodeSelector:
        kubernetes.io/os: linux
        node-role.kubernetes.io/master: ''
      restartPolicy: Always
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
      priorityClassName: system-cluster-critical
      serviceAccountName: dns-operator
      containers:
      - name: dns-operator
        terminationMessagePolicy: FallbackToLogsOnError
        image: openshift/origin-cluster-dns-operator:latest
        command:
        - dns-operator
        env:
        - name: RELEASE_VERSION
          value: "0.0.1-snapshot"
        - name: IMAGE
          value: openshift/origin-coredns:v4.0
        - name: OPENSHIFT_CLI_IMAGE
          value: openshift/origin-cli:v4.0
        - name: KUBE_RBAC_PROXY_IMAGE
          value: quay.io/openshift/origin-kube-rbac-proxy:latest
        resources:
          requests:
            cpu: 10m
            memory: 29Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        volumeMounts:
        - mountPath: /tmp
          name: tmp-dir
      - name: kube-rbac-proxy
        image: quay.io/openshift/origin-kube-rbac-proxy:latest
        args:
        - --logtostderr
        - --secure-listen-address=:9393
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
        - --upstream=http://127.0.0.1:60000/
        - --tls-cert-file=/etc/tls/private/tls.crt
        - --tls-private-key-file=/etc/tls/private/tls.key
        ports:
        - containerPort: 9393
          name: metrics
        resources:
          requests:
            cpu: 10m
            memory: 40Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /etc/tls/private
          name: metrics-tls
          readOnly: true
        - mountPath: /tmp
          name: tmp-dir
      volumes:
      - name: metrics-tls
        secret:
          secretName: metrics-tls
      - name: tmp-dir
        emptyDir: {}
      terminationGracePeriodSeconds: 2
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
